.adaptable {
    background-color: chocolate;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

@media screen and (min-width:768px) {
    body {
        background-color: blue;
    }

}

.adaptable {
    color: crimson;
}

@media screen and (max-width: 767px) {
    body {
        background-color: black;
    }

}