@font-face {
    font-family: "playfairDisplay";
    src: url(../font/playfairDisplay.ttf); }
  
  body {
    background-image: url(../img/papeldiario.jpeg); }
  
  nav {
    background-color: white; }
    nav a {
      font-size: 105%;
      text-decoration: none;
      padding-left: 7%;
      font-family: "playfairDisplay";
      color: #3c3ccd; }
      nav a .navF {
        margin-bottom: 2%; }
      nav a .navD {
        margin-bottom: 2%; }
      nav a .navC {
        margin-bottom: 2%; }
      nav a .navP {
        margin-bottom: 2%; }
  
  footer {
    background-color: white;
    margin-top: 2%; }
    footer .AZUL {
      color: blue; }
    footer ul {
      list-style: none; }
  
  * {
    padding: 0;
    margin: 0; }
  
  header {
    background-color: black; }
    header .Titulo1 {
      background-color: black;
      color: white;
      text-align: center;
      font-size: 40px;
      font-family: "playfairDisplay"; }
    header .paginaP {
      color: white;
      margin-left: 1%;
      font-family: "playfairDisplay"; }
    header .paginaD {
      font-family: "playfairDisplay";
      margin-left: 1%;
      color: white; }
    header .paginaC {
      font-family: "playfairDisplay";
      margin-left: 1%;
      color: white; }
    header #paginaF {
      font-family: "playfairDisplay";
      color: white;
      background-color: black;
      margin-left: 1%; }
  
  #Tformu {
    margin-top: 2%;
    margin-left: 1%; }
  
  .textoD {
    margin-top: 5%;
    margin-left: 1%; }
  
  .textoC {
    margin-top: 5%;
    margin-left: 1%; }
  
  .textoP {
    margin-top: 5%;
    margin-left: 1%; }
  
  .pa {
    text-align: center; }
  
  img {
    width: 50%; }
  
  .imgdiv {
    text-align: center; }
  
  .imagenprincipal {
    width: 50%;
    margin-top: 3%;
    margin-bottom: 0%; }
  
  .libreria {
    animation-name: backInLeft;
    animation-delay: 1s; }
  
  section h2 {
    font-size: 40px;
    margin-bottom: 2%;
    margin-top: 3%;
    margin-left: 2%; }
    section h2 #parrafo1 {
      font-size: 20px;
      margin-left: 1%; }
  
  .titulo2 {
    font-size: 30px;
    margin-left: 1%;
    margin-top: 8%;
    margin-bottom: 2%; }
  
  #Mnoti {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 2%; }
  
  h2 .notaD {
    margin-left: 1%; }
  
  h2 .notaC {
    margin-left: 1%; }
  
  h2 .notaP {
    margin-left: 1%; }
  
  div .GridContainer {
    display: grid;
    grid-template-rows: repeat 5, 1fr;
    grid-row: 10px; }
  
  div .titulo2 {
    font-size: 30px;
    margin-left: 1%;
    margin-top: 8%;
    margin-bottom: 2%; }
  
  .bloque {
    display: inline-block;
    width: 30%;
    padding: 1%; }
    @media screen and (max-width: 480px) {
      .bloque {
        display: flex;
        flex-direction: column-reverse; } }
  
  .poli {
    text-align: center; }
  
  .ciudad {
    text-align: center; }
  
  .Messi {
    text-align: center; }
  
  h3 {
    margin-bottom: 2%;
    margin-top: 2%;
    margin-left: 1%; }
    h3 #politica {
      margin-bottom: 2%;
      margin-top: 2%; }
    h3 #deportes {
      margin-bottom: 2%;
      margin-top: 2%; }
    h3 #ciudadanos {
      margin-bottom: 2%;
      margin-top: 2%; }
  
  .enviar {
    margin-left: 36%;
    margin-top: 2%; }
  
  .borrar {
    margin-left: 10%;
    margin-top: 2%; }
  
  .imagenC {
    text-align: center; }
  
  .seccionformu {
    margin-top: 4%;
    margin-bottom: 4%;
    border: 3px solid #706969; }
  