nav{background-color: white;
    a {font-size: 105%;
    text-decoration: none;
    padding-left: 7%;    font-family: "playfairDisplay";
    color: rgb(60, 60, 205);
    .navF { margin-bottom: 2%;}
    
    .navD {
        margin-bottom: 2%;
    }
    
    .navC {
        margin-bottom: 2%;
    }
    
    .navP {
        margin-bottom: 2%;
    } }}